USE [master]
GO
/****** Object:  Database [Session4]    Script Date: 10/1/2020 5:40:29 PM ******/
CREATE DATABASE [Session4]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Session4', FILENAME = N'C:\wss\Session4.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Session4_log', FILENAME = N'C:\wss\Session4_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Session4].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Session4]
GO
/****** Object:  Table [dbo].[Assign_Training]    Script Date: 10/1/2020 5:40:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assign_Training](
	[trainingId] [int] IDENTITY(1,1) NOT NULL,
	[moduleIdFK] [int] NOT NULL,
	[userIdFK] [varchar](50) NOT NULL,
	[startDate] [date] NOT NULL,
	[progress] [int] NOT NULL,
 CONSTRAINT [PK_Assign_Training] PRIMARY KEY CLUSTERED 
(
	[trainingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Skill]    Script Date: 10/1/2020 5:40:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skill](
	[skillId] [int] IDENTITY(1,1) NOT NULL,
	[skillName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Skill] PRIMARY KEY CLUSTERED 
(
	[skillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Training_Module]    Script Date: 10/1/2020 5:40:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Training_Module](
	[moduleId] [int] IDENTITY(1,1) NOT NULL,
	[userTypeIdFK] [int] NOT NULL,
	[skillIdFK] [int] NOT NULL,
	[moduleName] [varchar](50) NOT NULL,
	[durationDays] [int] NOT NULL,
 CONSTRAINT [PK_Training_Module] PRIMARY KEY CLUSTERED 
(
	[moduleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 10/1/2020 5:40:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[userId] [varchar](50) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[passwd] [varchar](50) NOT NULL,
	[skillIdFK] [int] NOT NULL,
	[userTypeIdFK] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Type]    Script Date: 10/1/2020 5:40:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Type](
	[userTypeId] [int] IDENTITY(1,1) NOT NULL,
	[userTypeName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_User_Type] PRIMARY KEY CLUSTERED 
(
	[userTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Assign_Training]  WITH CHECK ADD  CONSTRAINT [FK_Assign_Training_Training_Module] FOREIGN KEY([moduleIdFK])
REFERENCES [dbo].[Training_Module] ([moduleId])
GO
ALTER TABLE [dbo].[Assign_Training] CHECK CONSTRAINT [FK_Assign_Training_Training_Module]
GO
ALTER TABLE [dbo].[Assign_Training]  WITH CHECK ADD  CONSTRAINT [FK_Assign_Training_User1] FOREIGN KEY([userIdFK])
REFERENCES [dbo].[User] ([userId])
GO
ALTER TABLE [dbo].[Assign_Training] CHECK CONSTRAINT [FK_Assign_Training_User1]
GO
ALTER TABLE [dbo].[Training_Module]  WITH CHECK ADD  CONSTRAINT [FK_Training_Module_Skill] FOREIGN KEY([skillIdFK])
REFERENCES [dbo].[Skill] ([skillId])
GO
ALTER TABLE [dbo].[Training_Module] CHECK CONSTRAINT [FK_Training_Module_Skill]
GO
ALTER TABLE [dbo].[Training_Module]  WITH CHECK ADD  CONSTRAINT [FK_Training_Module_User_Type] FOREIGN KEY([userTypeIdFK])
REFERENCES [dbo].[User_Type] ([userTypeId])
GO
ALTER TABLE [dbo].[Training_Module] CHECK CONSTRAINT [FK_Training_Module_User_Type]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Skill] FOREIGN KEY([skillIdFK])
REFERENCES [dbo].[Skill] ([skillId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Skill]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_User_Type] FOREIGN KEY([userTypeIdFK])
REFERENCES [dbo].[User_Type] ([userTypeId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_User_Type]
GO
USE [master]
GO
